<configuration>
   <runtime>
      <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
       <dependentAssembly>
         <assemblyIdentity name="TIBCO.EMS.UFO"
                           publicKeyToken="6b6855d6ce77bb55"
                           culture="" />
         <bindingRedirect oldVersion="1.0.0.0-1.0.840.14"
                          newVersion="1.0.840.14"/>
       </dependentAssembly>
       <dependentAssembly>
         <assemblyIdentity name="TIBCO.EMS"
                           publicKeyToken="5b83db8ff05c64ba"
                           culture="" />
         <bindingRedirect oldVersion="1.0.0.0-1.0.840.14"
                          newVersion="1.0.840.14"/>
       </dependentAssembly>
      </assemblyBinding>
   </runtime>
</configuration>

